.heroOLD {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 10%;
    gap: 40px;
}   

/*
@media (min-width: 48em) {
    .hero {
        flex-direction: row;

    }
}
*/




.hero-imgOLD {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50px;

}

.hero-formOLD {
    position: static;
    bottom: 20px;
    left: 20px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .hero-formOLD {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
}

.heroOLD h1 {
    font-size: clamp(1rem, 2.5vw, 2rem);
    margin-bottom: 20px;
}

.hero-formOLD input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

.hero-formOLD button {
    width: 100%;
    padding: 10px;
    background: #027bc1;
    color: white;
    border: none;
}